.form__submit-button {
  width: 83.25%;
  margin: 45px auto 37px;
  min-height: 50px;
  color: #fff;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  border: 0;
  border-radius: 2px;
  opacity: 1;
  transition: 0.2s;
}

.form__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 767px) {
  .form__submit-button {
    font-size: 14px;
    line-height: 17px;
    width: 84.5%;
    min-height: 46px;
    margin-bottom: 25px;
  }
}