.element__like {
  background-image: url(../../../images/icon_type_heart.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  min-height: 22px;
  min-width: 22px;
  padding: 0;
  border: none;
  opacity: 1;
  transition: 0.2s;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}